@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Courgette, sans-serif;
    color: #fff;
    background-color: slategray;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 96px;
    background-color: rgb(100, 3, 129);
}

header > a {
    height: 100%;
}

#logo {
    height: 100%;
}

.brand-title {
    font-family: 'Courgette', sans-serif;
    font-weight: 700;
    font-size: 450%;
    letter-spacing: 4px;
    text-transform: uppercase;    
    float: left;
    margin-left: 96px;
    color: whitesmoke;
}

.slogan {
    font-size: 220%;
    font-weight: 400;
    vertical-align: middle;
    float: left;
    margin-left: 96px;
    color: whitesmoke;
}

/* navigation bar */

#navbar {
    float: right;
    padding: 12px;
}

#navbar li {
    list-style-type: none;
    display: inline;
    float: left;
    margin-right: 24px;
}

#navbar a {
    text-decoration: none;
    color: blue;
}

#navbar .current {
    color: black;
}

#navbar a:hover {
    border: 2px solid black;
    padding: 4px;
}

/*hero image */

#hero-image {
    background: url('../images/backbar.jpg') no-repeat center center;
    height: 300px;
    width: 100%;    
}

/* pannelling */

.black-panel {
    display: flex;
    background-color: black;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;

}

.black-panel > div {
    width: 33%;
    text-align: center;
}

.purple-panel {
    display: flex;
    background-color: rgb(100, 3, 129);
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
}

.purple-panel > div {
    width: 33%;
    text-align: center;
}


/*about us */

.about-us-text {
    display: inline-block;
    font-family: Raleway;
    text-align: center;
}

.about-us-text h2 {
    font-size: 2.5em;
}

/* share drinks */

#share-drinks-img {
    display: inline-block;
}

#share-drinks-img img {
    height: 256px;
    width: 256px;
}

/* private booth */ 

#private-booth-img {
    display: inline-block;
}

#private-booth-img img {
    height: 256px;
}

#private-booth-text {
    /* this is placeholder text */
}

/* what makes zola special? */

#special-section {
    display: flex;
    flex-direction: column;
    background: url('../images/barbackground.jpg') no-repeat center center;
    background-size: cover;
    height: 600px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

#special-section > div {
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#special-section > h2 {
    background-color: rgba(100, 3, 129, .6);
    padding: 1.5em;
    border-radius: 12px;
}

#special-section > div > div {
    width: 25%;
    background-color: rgba(100, 3, 129, .6);
    padding: .5em;
    border-radius: 12px;
}

#special-section i {
    font-size: 300%;
    margin: 12px;
}

/*footer */

footer {
    width: 100%;
    height: 192px;
    background-color: rgb(100, 3, 129);
}

span > a {
    text-decoration: none;
    color: whitesmoke;
}

.social {
    background-color: black;
}

.social i {
    font-size: 150%;
}

#footer-telephone {
    text-align: center;
    color: whitesmoke;
}
