@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    font-family: Courgette, sans-serif;
    color: whitesmoke;
    background-color: slategray;
}

/* header */

header {
    justify-content: space-between;
    height: 96px;
}

header, footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background: linear-gradient(70deg, #5b3b71 20%, rgba(60,60,60,0.9) 50%, #5b3b71 80%);
}
header > a {
    height: 100%;
}

#logo {
    height: 100%;
}

.brand-title {
    font-weight: 700;
    font-size: 450%;
    letter-spacing: 4px;
    text-transform: uppercase;    
}

.slogan {
    font-size: 220%;
    font-weight: 400;
}

/* navigation bar */

#navbar li {
    list-style-type: none;
    display: inline;
    margin-right: 24px;
}

#navbar a {
    text-decoration: none;
    color: whitesmoke;
}

#navbar .current {
    color: black;
}

#navbar a:hover {
    border: 2px solid black;
    padding: 4px;
}

/*footer */

footer {
    flex-direction: column;
    justify-content: space-evenly;
    height: 192px;
}

#footer-socials {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#footer-socials > div {
    width: 150px;
}

div > a {
    text-decoration: none;
    color: whitesmoke;
}

.social {
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(34,34,48,1) 35%, rgba(17,2,25,0.7987570028011204) 100%);
    border-radius: 4px;
    text-align: center;
    padding: 1em;
}

.social i {
    font-size: 150%;
}

#footer-telephone {
    text-align: center;
    color: whitesmoke;
}


/*hero image */

#hero-image {
    background: url('../images/backbar.jpg') repeat center center;
    background-size: cover;
    height: 300px;
    width: 150%;    
    animation: animate 30s linear infinite;
}
@keyframes animate {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-25%);
    }
  }

/* panelling */

.black-panel {
    background-color: black;
}

.black-panel, .grey-panel {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em 0;
    text-align: center;
}

.black-panel > div {
    width: 33%;
    text-align: center;
}

.grey-panel {
    background-color: rgb(114, 114, 114);
    color: black;
}

.grey-panel div {
    width: 33%;
    text-align: center;
}

/*about us */

.about-us-text {
    font-family: Raleway;
    text-align: center;
}

.about-us-text h2 {
    font-size: 2.5em;
}

#share-drinks-img img {
    height: 256px;
    width: 256px;
}

#private-booth-img img {
    height: 256px;
    width: 384px;
}

@media (max-width:550px) {
    .black-panel {
        flex-direction: column;    
}
    #share-drinks-img img {
        width: 100%;
        height: 100%;
    }

    .grey-panel {
        flex-direction: column;    
}
    #private-booth-img img {
        width: 100%;
        height: 100%;
    }
}

/* what makes zola special? */

#special-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: url('../images/barbackground.jpg') no-repeat center center;
    background-size: cover;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    gap: 1em;
    padding: 1em 0;
}

#special-section a {
    text-decoration: none;
    text-decoration: underline;
    color: white;
    font-size: 120%;
}

#special-section a:hover {
    color: cyan;
}

#special-section > div {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#special-section > h2 {
    background: linear-gradient(77deg, rgba(17,0,36,0.6951155462184874) 0%, rgba(109,4,237,0.700717787114846) 50%, rgba(37,11,97,0.7035189075630253) 100%);
    padding: 1.5em;
    border-radius: 12px;
}

#special-section > div > div {
    width: 25%;
    background: linear-gradient(77deg, rgba(17,0,36,0.6951155462184874) 0%, rgba(109,4,237,0.700717787114846) 50%, rgba(37,11,97,0.7035189075630253) 100%);
    padding: .5em;
    border-radius: 12px;
}

#special-section i {
    font-size: 300%;
    margin: 12px;
}

#special-section h3 {
    font-size: 140%;
}

#special-section p {
    color: rgb(224, 203, 238);
    padding: 4px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

@media (max-width:550px) {
    #special-section > div {
        flex-direction: column; 
}
    #special-section > div > div {
        width: 80%;

    }
}

/* Menu */

.menu-background {
    background: url('../images/backbar.jpg') no-repeat center center;
    backdrop-filter: blur(4px);
    background-size: cover;
    width: 100%;
}

.menu-container {
    background: linear-gradient(77deg, rgba(147,71,0,0.7) 0%, rgba(79,0,0,.6) 50%, rgba(251,65,2,.6) 100%);
    display: grid;
    grid-template-columns:  3fr auto 1fr .5fr 3fr auto 1fr;
    grid-template-rows: minmax(150px, auto);
    align-items: flex-start;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.menu-cocktail {
    padding: 12px;
}

.menu-img, .menu-price {
    padding: 12px 0;
    font-size: 150%;
}
.menu-img img {
    height: 140px;
    width: 100px;
}

.menu-break {
    background-color: rgba(0,0,0,.8);
    height: 100%;
}

@media screen and (max-width:550px) {
    .menu-container {
        grid-template-columns: 3fr auto 1fr;
        grid-template-rows: auto;
        width: 100%;
    }

    .menu-break {
        display: none;
    }
}

/* --- What's On --- */

#whats-on-container {
    display: flex;
    background: url('../images/purple-water.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 1em;
}


#whats-on-container > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1em;
}

#right-side-container > div {
    padding: 25px;
    width: 50%;
}

#left-side-container > div {
    background: radial-gradient(circle, rgba(0,0,0,0.9023984593837535) 0%, rgba(42,42,42,0.896796218487395) 100%);
    padding: 25px;
    width: 70%;
}

#happy-hour-img img {
    height: 256px;
}

#live-music-img img {
    height: 256px;
}

#happy-hour {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#left-side-container h2, #left-side-container h3 {
    line-height: 2.5;
}

#live-music {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#newsletter-banner {
    background: radial-gradient(circle, rgba(0,0,0,0.9023984593837535) 0%, rgba(42,42,42,0.896796218487395) 100%);
}

#newsletter-banner h2 {
    padding-bottom: 1em;
}
#newsletter-banner p {
    color: rgb(197, 197, 197);
}

#newsletter-form-container {
    background: url('../images/form-background-glass.jpg') no-repeat center;
    background-size: contain;
    height: 420px;
}

#newsletter-form {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

#newsletter-form > label > input {
    border: 3px solid rgb(17, 17, 17);
}

#signup {
    width: 100px;
    padding: 8px;
    font-weight: inherit;
    background-color: slategray;
    background: linear-gradient(49deg, rgba(70,70,70,1) 0%, rgba(34,34,34,1) 70%, rgba(96,0,120,1) 100%);
    text-align: center;
    color: white;
}

#signup:hover {
    color: cyan;
    cursor: pointer;
}

/* Contact Us */

.contact-background-img {
    background: url('../images/contact-us-background-bar.jpg') no-repeat center center;
    background-size: cover;
}

.contact-us-container {
    backdrop-filter: blur(3px);
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
}

.contact-us-container > div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.contact-tile {
    background: radial-gradient(circle, rgba(0,0,0,0.9023984593837535) 0%, rgba(42,42,42,0.896796218487395) 100%);
    border: 2px solid black;
    width: 100%;
}

.contact-tile > div {
    background: linear-gradient(50deg, rgba(83,83,83,0.6951155462184874) 0%, rgba(55,49,59,0.700717787114846) 25%, rgba(51,36,57,0.6951155462184874) 50%, rgba(83,41,93,0.700717787114846) 75%, rgba(54,8,65,0.700717787114846) 100%);
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.contact-tile h2 {
    padding-top: .2em;
    padding-bottom: .5em;
}

.contact-tile table {
    text-align: center;
    margin: 0 auto;
}

.contact-tile table td {
    padding: 0.2em 1em;
}

#address {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contact-tile p {
    padding-top: 1em;
}

div.contact-leftside {
    align-items: stretch;
    width: 60%;
}

.contact-rightside {
    width: 30%;
}
