@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Courgette, sans-serif;
    color: #fff;
    background-color: purple;
}

header {
    display: inline;
}
.brand-title {
    font-family: 'Courgette', sans-serif;
    font-weight: 700;
    font-size: 450%;
    letter-spacing: 4px;
    color: whitesmoke;
    text-transform: uppercase;
    display: inline-block;
}

.slogan {
    font-size: 220%;
    font-weight: 400;
    clear:both;
    display: inline-block;
}

#navbar {
    float: right;
    padding: 12px;
}

#navbar li {
    list-style-type: none;
    display: inline;
    float: left;
    margin-right: 24px;
}
